body{
    background-color: rgb(255, 119, 226)
}

.yo{
    padding: 50;
    margin: 20;
    background-color: rgb(255, 255, 119);
}

.green {
    padding: 100;
    background-color: rgb(255, 255, 119);
}


.flex{
    display: flex;
}

.blu{
    padding: 50;
    margin: 20;
    background-color: rgb(129, 129, 255);
}

.red{
    padding-right: 430px;
    background-color: rgb(210, 133, 255);

}

